.sub-container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0.15rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 0;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background-color: #00d8c0;
  display: block;
  margin: 1rem auto;
}

.border-nav {
  width: 100%;
  height: 2px;
  background-color: #2f3132;
}


#work-gallery .container {
  padding: 1rem 1rem;
}

#work-gallery .work-gallery-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24rem;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

#work-gallery .work-gallery-items .row-1 {
  -webkit-box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.3);
}

#work-gallery .work-gallery-items .row-1:nth-child(even) {
  background-color: #f2ad4e;
  color: #000;
}

#work-gallery .work-gallery-items .row-1:nth-child(odd) {
  background-color: #fff1ad;
  color: #000;
}

#work-gallery .work-gallery-items .row-2 {
  -webkit-box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.3);
}

#work-gallery .work-gallery-items .row-2:nth-child(odd) {
  background-color: #f2ad4e;
  color: #000;
}

#work-gallery .work-gallery-items .row-2:nth-child(even) {
  background-color: #fff1ad;
  color: #000;
}

#work-gallery .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  padding: 1rem;
  position: relative;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  z-index: 1;
}

#work-gallery .col img {
  margin: 1rem;
  width: 65%;
  height: 65%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  -webkit-box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.3);
}

#work-gallery .col .caption {
  margin: 1rem 0;
  max-width: 14rem;
  font-size: 0.96rem;
  font-weight: 700;
  position: absolute;
  top: 4;
  left: 3;
  display: none;
  z-index: 3;
}

#work-gallery .col .btn-gallery {
  display: inline-block;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #333;
  padding: 8px 18px;
  margin-top: 20px;
}

#work-gallery .col:hover {
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
}

#work-gallery .col:hover h2 {
  text-align: left;
}

#work-gallery .col:hover .caption {
  display: block;
}
