{% extends 'main.html' %}

{% block content %}

    {% load static %}
    
    {% csrf_token %}
    <section class="site-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 banner-image">
                    <img src="/static/img/shivam.jpg" alt="banner-image" class="img-fluid">
                </div>
				<div class="col-lg-6 col-md-12 site-title">
                    <h4>Your Project is in Safe Hands</h4>
				<p class="px-2 pt-1">
					I carry an outgoing, dedicated and open minded approach
					irrespective of anything. Getting across to people,
					adjusting to changes with ease, highly organised and honesty
					are some of my strength.
				</p>
				<p class="px-2 pt-2">
					Being people's person has helped me evolve more as a person
					moreover it aids in handling pressure at work.
				</p>
				<p class="px-2 pt-3">
					I believe in taking account of my work and errors as it
					shows my willingness to learn and grow. As an IT
					professional, being updated is prime. Creativity, analytical
					abilities, critical thinking and problem solving are couple
					of more skills paramount in me
				</p>
				<p class="px-2 pt-4">
					I love programming, I love to help others and I enjoy
					exploring new technologies in general! My goal is to keep on
					growing as a developer - and if I could help you do the
					same, I'd be very happy 😇
				</p>

					
                </div>
               
            </div>
        </div>
    </section>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script> 

{% endblock %}







